header#header {
  div#ticker {
    padding: 10px 0;
  }

  ul#webTicker li {
    color: white;
    font-size: 2rem;
    display: flex;
    align-items: center;
    font-family: "Editorial New Ultralight";
  }

  ul#webTicker li img {
    display: block;
    height: 30px;
  }

  div#site-title {
    margin: 0 auto;
  }

  div#site-title h1 {
    text-align: center;
    font-size: 2rem;
  }

  div#site-title h1 a {
    text-decoration: none;
    font-family: "Suisse";
  }

  div#site-title img {
    display: block;
    width: auto;
    max-height: 200px;
    min-height: 100px;
    margin: 25px auto;
    padding: 0 25px;
  }

  div#bottom-header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
  }

  div#bottom-header-wrapper nav#menu div.menu-main-menu-container ul {
    display: flex;
  }

  div#bottom-header-wrapper nav#menu div.menu-main-menu-container ul li {
    border: 2px solid white;
    padding: 5px;
    margin: 10px;
    padding-top: 10px;
  }

  div#bottom-header-wrapper {
    border-top: 3px solid white;
    border-bottom: 3px solid white;
  }

  div#bottom-header-wrapper > * {
    width: 33.3%;
    display: flex;
  }

  div#bottom-header-wrapper > nav#menu {
    justify-content: center;
  }

  div#bottom-header-wrapper > nav#menu > * {
    text-transform: uppercase;
    font-size: 1.6rem;
  }

  div#bottom-header-wrapper > nav#menu a {
    text-decoration: none;
  }

  div#bottom-header-wrapper > div#current-date {
    justify-content: flex-end;
  }

  div#bottom-header-wrapper > div#current-date * {
    font-family: "Suisse";
    font-size: 1.6rem;
  }

  div#bottom-header-wrapper > div#greeting * {
    font-family: "Suisse";
    font-size: 1.6rem;
  }


}
