@media only screen and (max-width: 1080px){

    header#header {


        div#greeting {
            display: none;
        }
        div#current-date {
            display: none;
        }

        &.main-header div#bottom-header-wrapper {
            justify-content: center;
        }
    }

    .woocommerce {

        ul.products[class*="columns-"] li.product, .woocommerce-page ul.products[class*="columns-"] li.product {
		    width: 100%;
		    float: none
	    }
    }
}