@media only screen and (max-width: 1080px){

    header#header {


        div#greeting {
            display: none;
        }
        div#current-date {
            display: none;
        }

        &.main-header div#bottom-header-wrapper {
            justify-content: center;
        }


    }

}