/* WooCommerce Styles */
div#primary {
	width: 80%;
    margin: 0 auto;

        /* Product Archive Page */
        ul.products li.product img {
            border: $border_width solid white;
    }
    
    div.prod-info-wrap {
        display: flex;
        width: 80%;
        margin: 0 auto;
        flex-shrink: 0;
        flex-direction: column;
        border: 2px solid white;
        padding: 10px 0;
    }
    
    div.prod-info-wrap * {
        color: white;
        font-family: 'Suisse'
    }
    
    div.prod-info-wrap h2 {
        text-align: center;
    }
    
    div.prod-info-wrap a {
        text-align: center;
        display: flex;
        justify-content: space-between;
        padding: 0 10%;
    }
    
    h2.woocommerce-loop-product__title {
        text-align: center;
        font-family: 'Editorial New Ultralight';
    }

    main#main h1.product-title {
        text-align: center;
    }

    main#main .soldout {
        font-family: 'Suisse';
        padding: 10px;
        padding-bottom: 40px;
        text-transform: uppercase;
        text-align: center;
    }
}


.woocommerce {

    .button.button.alt {
        background-color: transparent;
        font-family: 'Editorial New Ultralight';

        &:hover {
                background-color: transparent;
        }
    }

    div.product {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    div.product div.images.woocommerce-product-gallery {
        margin: 0 auto;
    }

    div.product div.images .woocommerce-product-gallery__wrapper:first-child a img:first-of-type{
        border: $border_width solid white;
    }

}
