/* WooCommerce Styles */
div#primary {
	width: 80%;
    margin: 0 auto;
    max-width: 1200px;

    /* Product Archive Page */
    ul.products li.product img {
        border: $border_width solid white;
    }
    
    div.prod-info-wrap {
        display: flex;
        width: 80%;
        margin: 0 auto;
        flex-shrink: 0;
        flex-direction: column;
        border: 2px solid white;
        padding: 10px 0;
    }
    
    div.prod-info-wrap * {
        color: white;
        font-family: 'Suisse'
    }
    
    div.prod-info-wrap h2 {
        text-align: center;
    }
    
    div.prod-info-wrap a {
        text-align: center;
        display: flex;
        justify-content: space-between;
        padding: 0 10%;
    }
    
    h2.woocommerce-loop-product__title {
        text-align: center;
        font-family: 'Editorial New Ultralight';
    }

    main#main h1.product-title {
        text-align: center;
    }

    main#main .soldout {
        font-family: 'Suisse';
        padding: 10px;
        padding-bottom: 40px;
        text-transform: uppercase;
        text-align: center;
    }
}


.woocommerce {

    .button.button.alt {
        background-color: transparent;
        font-family: 'Editorial New Ultralight';

        &:hover {
                background-color: transparent;
        }

        &.disabled {

            background-color: transparent;
                
            &:hover {
                background-color: transparent;
            }
        }
    }

    

    /* Woocommerce Disabled Button Styling */
    

    .button.alt.checkout-button, .woocommerce button.button {
        border: 1px solid white;
        width: 250px;
        font-family: 'Suisse';
        text-transform: uppercase;
        padding: 5px 0;
        border-radius: 0;
        background-color: transparent;
        color: white;
    }
    
    button.button:disabled, .woocommerce button.button:disabled[disabled] {
        color: white !important;
        font-size: 1.25em;
        padding: 5px;
        width: auto;
    }
    
    button.button {
        color: white !important;
        font-size: 1.25em;
        padding: 5px;
        width: auto;
    }

    div.product {
        display: flex;
        flex-direction: column;
        justify-content: center;

        div.images.woocommerce-product-gallery {
            margin: 0 auto;
        }
    
        div.images .woocommerce-product-gallery__wrapper:first-child a img:first-of-type{
            border: $border_width solid white;
        }
    }
    


        /* Remove Woocommerce Additional Product information tabs */
    ul.tabs.wc-tabs {
        display: none;
    }

    /* Style Woocommerce Product summary */

    div.product div.summary.entry-summary {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
            margin-bottom: 0;
        border-top: 1px solid white;
        padding: 10px 0;
    }

    /* Style Product Information  */

    div#tab-description {
        display: flex;
        justify-content: space-evenly;
        border-top: 1px solid white;
    }

    div#tab-description > * {
        width: 50%;
        padding: 20px;
    }

    div#description-left{ 
        border-right: 1px solid white;
    }

    div#description-left * {
        font-family: 'Suisse';
        line-height: 1.2;
    }

    .woocommerce-page div.product div.summary {
        width: 100%;
        float: none;
    }

    div.product form.cart {
        margin-bottom: 0;
    }


    /* Woocommerce Variable Product Styling */
    form.variations_form.cart {
        display: flex;
        flex-wrap: wrap;
    }

    div.single_variation_wrap {
        width: 100%;
        display: flex;
        justify-content: flex-end;
    }

    a.reset_variations {
        display: none !important;
    }

    div.product form.cart .variations select {
        width: 100%;
    }


    /* Product Gallery Border */
    img.wp-post-image {
        border: 1px solid white;
    }

    /* Cart Styles  */

    table.shop_table {
        width: 80%;
        max-width: 1200px;
        margin: 0 auto;
    }

    .cart-collaterals .cart_totals, .woocommerce-page .cart-collaterals .cart_totals {
        float: none;
        width: 80%;
        max-width: 1200px;
        margin: 20px auto;
    }


    div.swiper-container {

        div#swiper-controls {
            display: flex;
            justify-content: space-between;
            padding: 25px 0;
        }
        
        div#swiper-controls * {
            border: 1px solid white;
            padding: 10px;
        }
        h1.product-title {
            padding: 25px;
        }
        
        div.swiper-next {
            background-image: url('/wp-content/uploads/2021/01/arrow.png');
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
            height: 50px;
            width: 18%;
        }
        
        
        div.swiper-prev {
            background-image: url('http://localhost:8000/wp-content/uploads/2021/01/arrow-e1612247248794.png');
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
            height: 50px;
            width: 18%;
        }
        
        
        div.swiper-prev:hover, div.swiper-next:hover {
            cursor: pointer;
        }
    }


    // Cart Styles

    table.shop_table *{

        border-radius: 0;
        text-decoration: none;
    }
    table.shop_table th {
        font-family: 'Suisse';
        text-transform: uppercase;
    }
    
    table.shop_table thead tr th{
        border-top: 1px solid white;
        border-bottom: 1px solid white
    }
    
    .quantity .qty {
        background-color: transparent;
        border: 0;
        color: white;
    }
    

    table.shop_table tr.cart-subtotal {
        border: 1px solid white;
    }
    

}
